@media screen {
  html {
    font-size: 26.667vw;
  }
}
header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  align-items: center;
  z-index: 2;
  background-color: transparent;
}
header .left {
  display: block;
  position: relative;
  width: 80px;
  height: 40px;
}
header .left h1 {
  position: absolute;
  left: 10px;
  top: 5px;
  width: 60px;
  height: 30px;
  background: url(../images/sprites.png) 1px -305px / 200px 200px;
}
header .center {
  flex: 1;
  position: relative;
  height: 30px;
}
header .center .icon {
  position: absolute;
  left: 5px;
  top: 1px;
  width: 33px;
  height: 33px;
  background: url(../images/sprites.png) no-repeat;
  background-position: -165px 0;
  transform: scale(0.6);
  z-index: 1;
}
header .center input {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  border-radius: 15px;
  border: none;
}
header .right {
  width: 49px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  color: #fff;
}
#banner {
  height: 1.75rem;
}
#banner .banner {
  width: 100%;
  background-color: skyblue;
}
#banner .banner .swiper-wrapper {
  width: 100%;
  height: 1.75rem;
  margin: 0 auto;
}
#banner .banner .swiper-wrapper .swiper-slide {
  float: left;
}
#banner .banner .swiper-wrapper .swiper-slide a {
  display: block;
}
#banner .banner .swiper-wrapper .swiper-slide a img {
  width: 100%;
  height: 100%;
}
#banner .banner .swiper-pagination {
  font-size: 0.16rem;
}
#nav {
  height: 1.6rem;
  font-size: 0.14rem;
  background-color: #fff;
}
#nav ul {
  display: flex;
  flex-wrap: wrap;
}
#nav ul li {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 0.8rem;
}
#nav ul li a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#nav ul li img {
  width: 0.4rem;
  height: 0.4rem;
  margin-bottom: 0.09rem;
}
main {
  width: 100%;
  padding: 10px;
}
main section {
  background-color: #fff;
}
main .seckill {
  width: 100%;
  font-size: 0.14rem;
}
main .seckill .seckill-title {
  display: flex;
  justify-content: space-between;
  height: 0.3rem;
}
main .seckill .seckill-title .seckill-title-left {
  height: 100%;
}
main .seckill .seckill-title .seckill-title-left img {
  float: left;
  width: 0.2rem;
  height: 0.25rem;
  margin: 0.02rem 0.06rem 0 0.05rem;
}
main .seckill .seckill-title .seckill-title-left > span {
  float: left;
  line-height: 0.14rem;
  margin-top: 0.07rem;
  margin-right: 0.1rem;
  color: #df443b;
}
main .seckill .seckill-title .seckill-title-left .count-down {
  float: left;
  padding-top: 0.07rem;
}
main .seckill .seckill-title .seckill-title-left .count-down span {
  float: left;
  width: 0.15rem;
  height: 0.15rem;
  line-height: 0.15rem;
  text-align: center;
  background-color: #000;
  color: #fff;
  margin-right: 0.04rem;
}
main .seckill .seckill-title .seckill-title-left .count-down span:nth-child(3n) {
  width: 0.03rem;
  background-color: #fff;
  color: #000;
}
main .seckill .seckill-title .seckill-title-right {
  margin-top: 0.07rem;
  margin-right: 0.09rem;
  font-size: 0.12rem;
}
main .seckill > ul {
  display: flex;
  width: 100%;
  margin-bottom: 0.1rem;
}
main .seckill > ul li {
  flex: 1;
  height: 1.48rem;
  border-right: 0.01rem solid #ccc;
}
main .seckill > ul li a {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.09rem;
}
main .seckill > ul li a img {
  width: 100%;
}
main .seckill > ul li a .current-price {
  color: #cc332a;
}
main .seckill > ul li:last-child {
  border: none;
}
main .cate-nav {
  width: 100%;
  margin-bottom: 0.09rem;
}
main .cate-nav .cate-nav-title {
  height: 0.3rem;
  padding-top: 0.075rem;
  border-bottom: 0.01rem solid #cccccc;
}
main .cate-nav .cate-nav-title h3 {
  float: left;
  font-size: 0.15rem;
  line-height: 0.15rem;
  font-weight: normal;
}
main .cate-nav .cate-nav-title h3::before {
  content: "";
  float: left;
  width: 0.04rem;
  height: 0.15rem;
  margin: 0 0.07rem 0 0.1rem;
  background-color: #cc332a;
}
main .cate-nav .cate-nav-content {
  display: flex;
  height: 1.94rem;
}
main .cate-nav .cate-nav-content > div {
  flex: 1;
  overflow: hidden;
}
main .cate-nav .cate-nav-content > div a {
  display: block;
  overflow: hidden;
}
main .cate-nav .cate-nav-content > div a img {
  width: 100%;
}
main .cate-nav .cate-nav-content > div a.bl {
  border-left: 1px solid #ccc;
}
main .cate-nav .cate-nav-content > div a.br {
  border-right: 1px solid #ccc;
}
main .cate-nav .cate-nav-content > div a.bb {
  border-bottom: 1px solid #ccc;
}
main .cate-nav .cate-nav-content > div.right a {
  height: 50%;
}
main .cate-nav .cate-nav-content > div.right a img {
  vertical-align: top;
}
main .cate-nav:last-child {
  margin-bottom: 0.5rem;
}
